{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/katalog.css' %}">
        <title>katalog</title>
    </head>

    <!-- BODY -->
    <body>
        <header>
            <div class="container-fluid">
                <!-- atas -->
                <div class="row1">
                    <div class="col-md-4 col-sm-6 col-12" id="tosca">
                        <span> Toko Online</span>
                        
                    </div>
                    <div class="col-md-8 sm-6 col-12" id="light">
                        <span> Home</span>
                    </div>
                </div>
            </div>
        </header>
            <div class="container-fluid">
                <div class = "row">
                    <!-- gambar 1 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/iphone.jpg' %}"><br>
                            <span class="name">Iphone X</span><br>
                            <span class="harga"> Rp.15.000.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                    <!-- gambar 2 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/sepatu.jpg' %}"><br>
                            <span class="name">Sepatu Vans</span><br>
                            <span class="harga"> Rp.799.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                    <!-- gambar 3 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/motor.jpg' %}"><br>
                            <span class="name">Motor</span><br>
                            <span class="harga"> Rp.35.000.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                    <!-- gambar 4 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/kompor.jpg' %}"><br>
                            <span class="name">Kompor</span><br>
                            <span class="harga"> Rp.500.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                    <!-- gambar 5 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/monitor.jpg' %}"><br>
                            <span class="name">TV</span><br>
                            <span class="harga"> Rp.5.000.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                    <!-- gambar 6 -->
                    <div class="col-md-4 col-sm-6 col-12">
                        <div class="contentPic">
                            <img class="pic" src="{% static 'img/mobil.jpg' %}"><br>
                            <span class="name">mobil mainan</span><br>
                            <span class="harga"> Rp.50.000</span><br>
                            <a href="#">Lihat Details</a>
                        </div> 
                    </div>
                </div>
            </div>


    </body>




</html>
